<div class="page-header">
	<i class="pull-right glyphicon glyphicon-plus big-icon" ng-click="addWidget()"></i>
	<i class="pull-right glyphicon glyphicon-trash big-icon" ng-click="clear()"></i>

	<i class="glyphicon glyphicon-th-large big-icon add" ng-click="addCol()"></i>
	<i class="glyphicon glyphicon-stop big-icon" ng-click="subtractCol()"></i>
</div>

<div gridster="gridsterOptions" class="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box" ng-controller="CustomWidgetCtrl" ng-class="'wdb-'+ widget.colorId">
				<div class="box-header" ng-class="'wd-'+ widget.colorId">
					<h3 class="box-name">{{ widget.name }}</h3>
					<div class="box-header-btns pull-right">
						<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog box-icon"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-remove box-icon"></i></a>
					</div>
				</div>
				<div class="box-content">
				</div>
			</div>
		</li>
	</ul>
</div>